header, footer, section, article, aside, nav, hgroup {
  display: block; }

html {
  position: relative; }

.wrapper {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex; }

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column; } }
.list {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  min-width: 50%; }

body {
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
  padding: 0px 20px; }

h1 {
  font-family: cursive, sans-serif;
  text-align: center; }

.completed {
  text-decoration: line-through;
  -moz-text-decoration-color: red; }

td:last-child {
  text-align: right; }

footer {
  position: absolute;
  left: 50%;
  bottom: -50px;
  padding: 10px 0; }

footer div {
  margin-left: -50%; }

.category, .skill {
  display: -webkit-flex; }
  .category div, .category a, .skill div, .skill a {
    border: 1px solid black;
    padding: 10px; }
  .category .lg, .skill .lg {
    flex-basis: 200px;
    flex-grow: 3; }
  .category .md, .skill .md {
    flex-basis: 130px;
    flex-grow: 2; }
  .category .sm, .skill .sm {
    flex-basis: 70px;
    flex-grow: 1; }

.category div {
  background-color: FFFCCC; }

textarea {
  position: absolute;
  left: 314px; }
